/* * { 
  outline: 1px solid red;
} */
body{
  background-color: rgb(246, 247, 253);
  height: 100vh;
}

header{
  background-color: rgb(28 69 135);
  margin: 0 0 2em 0;
  padding: 1.2em 0 .11em 0;
  border: .15em solid rgb(0, 0, 0);
  min-width: 100ch;
}


article{
  margin: 0 10ch 0 15%;
  align-self: center;
}
.container{
  display: inline-flex;
  padding: 1em
}
.aside{
  padding: 5em 2%%;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
  flex-shrink: 3;
}
.site-title{
  color: aliceblue;
  text-align: center;
  font-size: 32pt;
  font-family: 'Roboto', sans-serif;
}

.body-title{
  border-top: 1em solid rgb(160, 184, 229);
  font-size: x-large;
  text-align: center;
}

.aside-title{
  margin: .5em 0 0 0;
  text-align: left;
  font-size: large;
}

.body{
  font-family: 'Open Sans', sans-serif;
}

footer{
  background-color: rgb(28 69 135);
  height: 10vh;
  border: .15em solid rgb(0, 0, 0);
  min-width: 100ch;
}
