/* * { 
  outline: 1px solid red;
} */
@media only screen and (max-width: 800px){
  .aside{
    display: none;
  }
  }
}

.body-container{
  background-color: rgb(246, 247, 253);
  min-height: 100%;
  min-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header{
  background-color: rgb(28 69 135);
  margin: 0 0 2em 0;
  padding: 5% 0 1% 0;
  border: .15em solid rgb(0, 0, 0);
  min-width: 100ch;
}


article{
  margin: 0 10ch 0 15%;
  align-self: center;
  flex-grow: 2;
  min-width: 60%;
}
.container{
  display: flex;
  min-width: 100ch;
  padding: 1em;
  padding-bottom: 10vh;
  justify-content: space-evenly;
}
.aside{
  padding: 5em 2%;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
  flex-grow: 1;
  flex-shrink: 1;
}
.site-title{
  color: aliceblue;
  text-align: center;
  font-size: 250%;
  font-family: 'Roboto', sans-serif;
}

.body-title{
  border-top: 1em solid rgb(160, 184, 229);
  font-size: x-large;
  text-align: center;
}

.aside-title{
  margin: .5em 0 0 0;
  text-align: left;
  font-size: large;
}

.body{
  font-family: 'Open Sans', sans-serif;
}

footer{
  background-color: rgb(28 69 135);
  height: 10vh;
  border: .15em solid rgb(0, 0, 0);
  min-width: 100ch;
  bottom: 0;
  position: sticky;
}
