
header{
  background-color: navy;
  margin: 0 0 2em 0;
  padding: 1.2em 0 .11em 0;
  border: .15em solid rgb(0, 0, 0);
}

main{
  display: flex;
}
article{
  margin-left: 20ch;
}

aside{
  display: flex;
  margin-top: 5vh;
  margin-right: 5ch;
}
.site-title{
  color: aliceblue;
  text-align: center;
  font-size: 32pt;
  font-family: 'Open Sans', sans-serif;
}

.title{
  border-top: 1em solid rgb(160, 184, 229);
}
.body{
  margin-right: 20ch;
  justify-content: space-evenly;
}

footer{
  background-color: navy;
  height: 15vh;
  border: .15em solid rgb(0, 0, 0);
}